<div class="row exam">
  <div class="col-md-12">
    <h2 class="text-center"><%= @exam.subject.name %></h2>
    <hr>
    <div class="question-answer">
      <%= form_for [:admin, @exam] do |f| %>
        <%= f.fields_for :results do |ff| %>
          <ol>
            <h3><%= ff.object.question.content %></h3>
            <ul>
              <% ff.object.question.answers.each do |ans| %>
                <li>
                  <% if ans.is_correct? %>
                    <label class="radio-inline-correct">
                      <%= ff.radio_button :answer_id, ans.id, disabled: true %>
                        <%= ans.content %>
                    </label>
                  <% else %>
                    <label class="radio-inline">
                      <%= ff.radio_button :answer_id, ans.id, disabled: true %>
                        <%= ans.content %>
                    </label>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </ol>
        <% end %>
        <% unless @exam.checked? %>
        <%= f.submit t(".finish"), class: "btn-finish"%>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
