<div id="questions-list">
  <table class="cart table table-hover new-order">
    <thead>
      <tr class="info row">
        <th class="col-md-1"><%= t ".id" %></th>
        <th class="col-md-2"><%= t ".subject" %></th>
        <th class="col-md-3">
          <span class="product-cart-description">
            <%= t ".content" %>
          </span>
        </th>
        <th class="col-md-1"><%= t ".user_id" %></th>
        <th class="col-md-3"><%= t ".user_name" %></th>
        <th class="col-md-2"></th>
      </tr>
    </thead>
    <tbody>
      <% questions.each do |question|%>
        <tr class="row">
          <td class="col-md-1"><%= question.id %></td>
          <td class="col-md-2">
            <%= question.subject.name %></td>
          <td class="col-md-3"><%= question.content[0..60] %>
            <%= t(".v_v") %></td>
          <td class="col-md-q"><%= question.user_id %></td>
          <% if question.user.present? %>
            <td class="col-md-2"><%= question.user.name %></td>
          <% else %>
            <td class="col-md-2"><%= t ".user_not_exist" %></td>
          <% end %>
          <th class="col-md-2 option-product-admin">
            <%= link_to edit_admin_question_path(question),
              class: "btn btn-default button-1" do %>
              <i class="fa fa-wrench"></i>
            <% end %>
            </a>
            <%= link_to admin_question_path(question), method: :delete,
              class: "btn btn-default", data: {confirm: t(".delete_confirm")} do %>
              <span class="fa fa-trash-o"></span>
            <% end %>
          </th>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
